<h1>General Account</h1>

<p><strong>Net Income:</strong> <%= @general_account.net_income %></p>

<hr>

<!-- List of General Incomes -->
<h2>General Incomes</h2>
<% if @general_incomes.any? %>
  <ul>
    <%= render partial: "general_incomes/general_income", collection: @general_incomes, as: :general_income %>
  </ul>
<% else %>
  <p>No General Incomes added yet.</p>
<% end %>
<%= link_to "Add General Income", new_general_income_path, class: "btn btn-primary" %>

<hr>

<!-- List of General Expenses -->
<h2>General Expenses</h2>
<% if @general_expenses.any? %>
  <ul>
    <%= render partial: "general_expenses/general_expense", collection: @general_expenses, as: :general_expense %>
  </ul>
<% else %>
  <p>No General Expenses added yet.</p>
<% end %>
<%= link_to "Add General Expense", new_general_expense_path, class: "btn btn-primary" %>
