<%= form_with(model: general_income) do |form| %>
  <% if general_income.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(general_income.errors.count, "error") %> prohibited this general_income from being saved:</h2>

      <ul>
        <% general_income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :general_account_id, style: "display: block" %>
    <%= form.text_field :general_account_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
