<!-- First Nav Bar -->
<nav class="navbar navbar-light bg-white mb-4">
  <div class="container-fluid justify-content-center py-3">
    <!-- General Account Net Income Button -->
    <%= button_to general_account_path(1), method: :get, class: "btn btn-success btn-lg px-5", form_class: "d-inline" do %>
      <%= number_to_currency(@general_account.net_income, unit: "€") %>
    <% end %>

    <% if Account.exists? %>
      <!-- New Transaction Button -->
      <%= button_to "New Transaction", new_transaction_path, method: :get, 
                    class: "btn btn-primary btn-lg ms-3 px-5", 
                    role: "button" %>
    <% end %>
  </div>
</nav>

<!-- Second Nav Bar -->
<div class="row text-center justify-content-center my-4">
  <!-- All Transactions Card -->
  <% if @navbar_transactions.present? && @navbar_transactions.any? %>
    <div class="col-md-2 mb-2">
      <%= link_to transactions_path, class: "card border-primary text-decoration-none" do %>
        <div class="card-body py-2 px-1">
          <h6 class="card-title text-primary mb-1">
            <i class="bi bi-list-task"></i> Transactions
          </h6>
          <p class="card-text text-dark m-0">
            <%= number_to_currency(@navbar_transactions.sum(:amount), unit: "€") %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- Global Income Card -->
  <div class="col-md-2 mb-2">
    <%= link_to general_incomes_path, class: "card border-success text-decoration-none" do %>
      <div class="card-body py-2 px-1">
        <h6 class="card-title text-success mb-1">
          <i class="bi bi-arrow-down-circle"></i> General Income
        </h6>
        <p class="card-text text-dark m-0">
          <%= number_to_currency(@navbar_general_incomes.sum(:amount) || 0, unit: "€") %>
        </p>
      </div>
    <% end %>
  </div>

  <!-- Global Expense Card -->
  <div class="col-md-2 mb-2">
    <%= link_to general_expenses_path, class: "card border-danger text-decoration-none" do %>
      <div class="card-body py-2 px-1">
        <h6 class="card-title text-danger mb-1">
          <i class="bi bi-arrow-up-circle"></i> General Expense
        </h6>
        <p class="card-text text-dark m-0">
          <%= number_to_currency(@navbar_general_expenses.sum(:amount) || 0, unit: "€") %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/shared/accordion_account' %>

<%= render 'accounts/accnav' %>
