<div class="row mt-2" data-controller="transaction">
 
  <% if transaction.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h4><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h4>
      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>


    <%= form_with(model: transaction, local: true) do |form| %>
      <div class="form-row align-items-center">
        <!-- Name Field -->
        <div class="col-12 mb-3">
          <%= form.text_field :name, class: "form-control", placeholder: "Shopping, Gas.." %>
        </div>

        <!-- Amount Field -->
        <div class="col-12 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">€</div>
            </div>
            <%= form.text_field :amount, class: "form-control", placeholder: "Enter amount" %>
          </div>
        </div>

        <!-- Account Selection -->
        <div class="col-12 mb-3">
          <%= form.collection_select :account_id, Account.all, :id, :title, 
              { prompt: "Select an account" }, 
              { class: "form-select", data: { transaction_target: "account", action: "transaction#updateCategories" } } %>
        </div>

        <!-- Category Selection -->
        <div class="col-12 mb-3">
          <%= form.collection_select :category_id, 
                             @categories || [], 
                             :id, 
                             :name, 
                             { prompt: "Select a category" }, 
                             { class: "form-select", data: { transaction_target: "category" } } %>
        </div>

        <!-- Hidden Date Field -->
        <%= form.hidden_field :date, value: Time.current %>

        <!-- Submit Button -->
        <div class="col-12">
          <%= form.submit class: "btn btn-primary mb-2" %>
        </div>
      </div>
    <% end %>

</div>
