<tr id="<%= dom_id(transaction) %>">
        <td style="border: 1px solid #ccc; padding: 10px;"><%= link_to transaction.name, transaction %></td>
        <td style="border: 1px solid #ccc; padding: 10px;"><%= transaction.amount %>€</td>
        <td style="border: 1px solid #ccc; padding: 10px;"><%= transaction.date.strftime('%b %d, %Y %I:%M %p') %></td>
        <td style="border: 1px solid #ccc; padding: 10px;">
          <%= transaction.account&.title || "Account not found" %>
        </td>
        <td style="border: 1px solid #ccc; padding: 10px;">
          <%= transaction.category&.name || "Category not found" %>
        </td>
      </tr>
