<div id="<%= dom_id transaction %>">
  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>€
  </p>

  <p>
    <strong>Date:</strong>
    <%= transaction.date.strftime('%b %d, %Y %I:%M %p') %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= transaction.account&.title || "Account not found" %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category&.name || "Category not found" %>
  </p>
</div>
