<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
  <div class="container-fluid">
    <!-- Navbar Toggle for Small Screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Net Income Button -->
    <div class="d-flex align-items-center">
      <%= button_to general_account_path(1), method: :get, class: "btn btn-success me-2", form_class: "d-inline" do %>
        <%= number_to_currency(@general_account.net_income, unit: "€") %>
      <% end %>
    </div>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Link to All Transactions -->
        <% if Transaction.exists? %>
          <li class="nav-item">
            <%= link_to "All Transactions", transactions_path, class: "btn btn-outline-primary me-2" %>
          </li>
        <% end %>

        <!-- Link to Add New Account -->
        <% if @general_account.net_income > 0 && Account.sum(:percentage) < 100 %>
          <li class="nav-item">
            <div class="d-flex align-items-center">
              <%= button_to "Create Account", new_account_path, method: :get, class: "btn btn-outline-primary me-2", form_class: "d-inline" %>
              <span class="badge bg-info text-dark">
                Available: <%= 100 - Account.sum(:percentage) %>%
              </span>
            </div>
          </li>
        <% end %>
      </ul>

      <!-- New Transaction Button -->
      <% if Account.exists? %>
        <div class="d-flex">
          <%= button_to "New Transaction", new_transaction_path, method: :get, class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<!-- Accounts with Progress Bar -->
<div class="progress-stacked mt-3">
  <% bg_classes = ['bg-success', 'bg-info', 'bg-warning', 'bg-danger'] %>
  <% @accounts.each_with_index do |account, index| %>
    <div class="progress mb-2" role="progressbar" 
         aria-label="<%= account.title %>" 
         aria-valuenow="<%= account.percentage %>" 
         aria-valuemin="0" 
         aria-valuemax="100" 
         style="width: <%= account.percentage %>%;">
      <div class="progress-bar <%= bg_classes[index % bg_classes.length] %>">
        <%= link_to "#{account.title} #{account.percentage}%", account_path(account), style: "text-decoration: none; color: inherit;" %>
      </div>
    </div>
  <% end %>
</div>
<br>
