<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
     
          <%= link_to "Net: #{@general_account.net_income}€", general_account_path(1), class: "nav-link", style: "background-color: #e9ecef; font-weight: bold; border-radius: 5px;" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     
        <!-- Link to Create Transaction -->
        <li class="nav-item">
          <%= link_to "+ Create Transaction", new_transaction_path, class: "nav-link" %>
        </li>
        
        <!-- Link to Add New Account -->
        <li class="nav-item">
          <%= link_to "+New Account", new_account_path, class: "nav-link #{current_page?(new_account_path) ? 'active' : ''}" %>
        </li>
      </ul>
     
     
      <ul class="navbar-nav">
        <!-- Link to All Transactions -->
        <% if Transaction.exists? %>
          <li class="nav-item">
            <%= link_to "Transactions", transactions_path, class: "nav-link", class: "nav-link", style: "background-color: #e9ecef; font-weight: bold; border-radius: 5px;" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <!-- Link to All Accounts -->
        <% if Transaction.exists? %>
          <li class="nav-item">
            <%= link_to "Accounts", accounts_path, class: "nav-link", class: "nav-link", style: "background-color: #e9ecef; font-weight: bold; border-radius: 5px;" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="progress-stacked">
  <% bg_classes = ['bg-success', 'bg-info', 'bg-warning', 'bg-danger'] %>
  <% @accounts.each_with_index do |account, index| %>
    <div class="progress" role="progressbar" 
         aria-label="<%= account.title %>" 
         aria-valuenow="<%= account.percentage %>" 
         aria-valuemin="0" 
         aria-valuemax="100" 
         style="width: <%= account.percentage %>%;">
      <div class="progress-bar <%= bg_classes[index % bg_classes.length] %>">
        <%= link_to "#{account.title} #{account.percentage}%", account_path(account), style: "text-decoration: none; color: inherit;" %>
      </div>
    </div>
  <% end %>
</div>
