<nav class="navbar bg-body-tertiary shadow-sm">
  <div class="container-fluid justify-content-center">
    <!-- General Account Net Income Button -->
    <%= button_to general_account_path(1), method: :get, class: "btn btn-success btn-lg px-5", form_class: "d-inline" do %>
      <%= number_to_currency(@general_account.net_income, unit: "€") %>
    <% end %>
    
    <% if Account.exists? %>
      <!-- New Transaction Button -->
      <%= button_to "New Transaction", new_transaction_path, method: :get, 
                    class: "btn btn-primary btn-lg ms-3 px-5", 
                    role: "button" %>
    <% end %>
  </div>
</nav>

<!-- Accounts with Progress Bar -->
<div class="progress-stacked my-2">
  <% bg_classes = ['bg-success', 'bg-info', 'bg-warning', 'bg-danger'] %>
  <% @accounts.each_with_index do |account, index| %>
    <div class="progress mb-2" role="progressbar" 
         aria-label="<%= account.title %>" 
         aria-valuenow="<%= account.percentage %>" 
         aria-valuemin="0" 
         aria-valuemax="100" 
         style="width: <%= account.percentage %>%;">
      <div class="progress-bar <%= bg_classes[index % bg_classes.length] %>">
        <%= link_to "#{account.title} #{account.percentage}%", account_path(account), style: "text-decoration: none; color: inherit;" %>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center my-2">
<!-- All Transactions Button -->
<% if Account.exists? %>
  <% if current_page?(transactions_path) %>
    <button class="btn btn-primary btn-sm me-2" disabled>All Transactions</button>
  <% else %>
    <%= button_to transactions_path, method: :get, class: "btn btn-outline-primary btn-sm me-2", form_class: "d-inline" do %>
      All Transactions
    <% end %>
  <% end %>
<% end %>

  <!-- Global Income Button -->
  <% if current_page?(general_incomes_path) %>
    <button class="btn btn-success btn-sm me-2" disabled>Global Income</button>
  <% else %>
    <%= button_to general_incomes_path, method: :get, class: "btn btn-outline-success btn-sm me-2", form_class: "d-inline" do %>
      Global Income
    <% end %>
  <% end %>

  <!-- Global Expense Button -->
  <% if current_page?(general_expenses_path) %>
    <button class="btn btn-danger btn-sm" disabled>Global Expense</button>
  <% else %>
    <%= button_to general_expenses_path, method: :get, class: "btn btn-outline-danger btn-sm", form_class: "d-inline" do %>
      Global Expense
    <% end %>
  <% end %>
</div>

<%= render 'accounts/accnav' %>



