
    
    <% @accounts.each do |account| %>
      <%= link_to account_path(account) %>
          <strong><%= account.title %></strong><br>
          (<%= account.balance %>€) - <%= account.percentage %>%
        </div>
      <% end %>
    <%= link_to "+", new_account_path %>






