<header style="background-color: #f8f9fa; padding: 10px;">
  <nav style="display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center;">
      <%= link_to "General Account", general_account_path(1), style: "margin-right: 15px; text-decoration: none;" %>
      <%= link_to "General Incomes", general_incomes_path, style: "margin-right: 15px; text-decoration: none;" %>
      <%= link_to "General Expenses", general_expenses_path, style: "margin-right: 15px; text-decoration: none;" %>
      <%= link_to "Accounts", accounts_path, style: "margin-right: 15px; text-decoration: none;" %>
      <%= link_to "Transactions", transactions_path, style: "text-decoration: none;" %>
    </div>
  </nav>
</header>
