<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ncct App V0" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  </head>

  <body>
<!-- Simple Navbar -->
    <header style="background-color: #f8f9fa; padding: 10px;">
      <nav style="display: flex; justify-content: space-between; align-items: center;">
        <div>
          <%= link_to "NCCT App", root_path, style: "text-decoration: none; font-size: 20px; font-weight: bold; margin-right: 20px;" %>
        </div>
        <div>
          <%= link_to "General Account", general_account_path(1), style: "margin-right: 15px; text-decoration: none;" %>
          <%= link_to "Accounts", accounts_path, style: "text-decoration: none;" %>
           <%= link_to "Transactions", transactions_path, style: "text-decoration: none;" %>
        </div>
      </nav>
    </header>

    <div style="margin: 20px;">
      <%= yield %>
  </body>
</html>
