<div id="<%= dom_id account %>">
  <p>
    <strong>Title:</strong>
    <%= account.title %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Percentage:</strong>
    <%= account.percentage %>
  </p>

  <p>
    <strong>General account:</strong>
    <%= account.general_account_id %>
  </p>

</div>
