<div class="container p-2">
  <div class="row g-3 justify-content-center">
    <% @accounts.each do |account| %>
      <div class="col-auto">
        <% if current_page?(account_path(account)) %>
          <button class="btn btn-secondary btn-sm shadow-sm text-white" style="cursor: not-allowed;" disabled>
            <span class="d-block text-truncate" title="<%= account.title %>"><%= truncate(account.title, length: 10) %></span>
            <span><%= number_with_precision(account.balance, precision: 2) %>€</span>
          </button>
        <% else %>
          <%= link_to account_path(account), class: "btn btn-outline-info btn-sm shadow-sm text-decoration-none" do %>
            <span class="d-block text-truncate" title="<%= account.title %>"><%= truncate(account.title, length: 10) %></span>
            <span><%= number_with_precision(account.balance, precision: 2) %>€</span>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @general_account.net_income > 0 && Account.sum(:percentage) < 100 %>
      <div class="col-auto">
        <% if current_page?(new_account_path) %>
          <button class="btn btn-secondary btn-sm shadow-sm text-white" style="cursor: not-allowed;" disabled>
            <span class="d-block">+ Create Account</span>
            <span>Available: <%= 100 - Account.sum(:percentage) %>%</span>
          </button>
        <% else %>
          <%= link_to new_account_path, class: "btn btn-outline-primary btn-sm shadow-sm text-decoration-none" do %>
            <span class="d-block">+ Create Account</span>
            <span>Available: <%= 100 - Account.sum(:percentage) %>%</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
