<h1>Account: <%= @account.title %></h1>
<p><strong>Balance:</strong> <%= @account.balance %></p>
<p><strong>Percentage:</strong> <%= @account.percentage %>%</p>

<hr>

<h2>Categories</h2>
<% if @categories.any? %>
  <ul>
    <%= render partial: "categories/category", collection: @categories, as: :category %>
  </ul>
<% else %>
  <p>No categories have been added yet.</p>
<% end %>

<h3>Add a New Category</h3>
<%= form_with(model: @new_category, url: categories_path, local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :account_id, value: @account.id %>
  <div>
    <%= f.submit "Create Category", class: "btn btn-primary" %>
  </div>
<% end %>
